<div class="container">
    <div clas="row">
        <h1>Stream</h1>
    </div>

    <div clas="row">
        <input type="text" class="form-control" placeholder="Search for...">
    </div>

    <br/>

    <div class="row">
        <div>
            <ul>
                {{#each item in controller.model}}
                    <li>

                        {{#if item.imageUri}}
                            <img class="thumbnail" {{bind-attr src=item.imageUri}}  height="50" width="50" />
                        {{/if}}

                        {{#if item.sourceUri}}
                            <a {{bind-attr href="item.sourceUri"}} target="_blank">{{item.title}}</a>
                        {{else}}
                            {{item.title}}
                        {{/if}}

                        {{#if item.description}}
                            - {{item.description}}
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
